# Node modules
youtube-companion-backend/node_modules/
youtube-companion-frontend/node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
youtube-companion-backend/.env
youtube-companion-frontend/.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local